html {
    font-family: "Roboto", sans-serif;
    color: black;
}

body
{
margin: 0;
    background-color: white;
}

nav {
    background-color: rgb(9, 0, 131);

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 34px;
    padding-right: 34px;
    color: white
    height: 89px;
    
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    font-weight: 700; /bold/
    font-size: 34px;
}


ul {
    margin: 0;
}

h1{
    font-size: 34px;
    margin-top: 20px;
}

div.container {
    align-content: stretch;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li + li {
    margin-left: 42px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav button {
    background-color: transparent;
    border width: 0;
    padding: 0;
}

nav button svg {
    width: 34px;
    height: 34px;
}

.active {
        background-color: cyan;
        padding: 13px;
        border-radius: 5px;
    }

header img {
    height: 70vh;
    object-fit: cover; 
    object-position: center;
}

.profile {
    margin-left: 240px;
}

.redes {
    margin-left: 295px;
}


section {
    padding: 0 ;
}

.primeira {
    justify-content: center;
    
}

.primeira article h2 {
font-size: 50px;
font-family: ARIAL BLACK;
color: rgb(9, 0, 131);
margin-left: 550px;
text-align: left;
margin-top: 0%;
}

.primeira article p {
    font-family: Arial;
    font-size: 20px;
    justify-content: flex-end;
    text-align: left;
    margin-left: 550px;
    margin-right: 500px;
    color: rgb(9, 0, 131);
}


.segunda {
    background-color:rgb(9, 0, 131);
    color: rgb(255, 255, 255);
    text-align: center;   
}


.segunda img {
    border-radius: 50%
}

.segunda h2 {
    font-family: Arial black;
    font-size: 20;
    margin-top: 60px;
    color: rgb(224, 215, 224);
}

.segunda article {
    font-family: arial;
    font-size: 18px;
    margin-block-end: 70px;
    margin-left: 350px;
    margin-right: 350px;
}

.esquerda div: :last-of-type {
    margin-left: 34px;
}

.terceira {
    background-color:rgb(9, 0, 131);
    color: rgb(255, 255, 255);
    text-align: center;
}

.terceira img {
    border-radius: 50%
}

.terceira h2 {
    font-family: Arial black;
    font-size: 20;
    margin-top: 60px;
    color: rgb(224, 215, 224);
}

.terceira article {
    font-family: arial;
    font-size: 18px;
    margin-block-end: 70px;
    margin-left: 350px;
    margin-right: 350px;
}

.quarta {
    background-color:rgb(9, 0, 131);
    color: rgb(255, 255, 255);
    text-align: center;
}

.quarta img {
    border-radius: 50%
}

.quarta h2 {
    font-family: Arial black;
    font-size: 20;
    margin-top: 60px;
    color: rgb(224, 215, 224);
}

.quarta article {
    font-family: arial;
    font-size: 18px;
    margin-block-end: 70px;
    margin-left: 350px;
    margin-right: 350px;
}

.quinta {
    background-color:;
    color:rgb(9, 0, 131);
    margin-left: 60px;
}


.quinta label {
   align-items: stretch;
}


footer {
    background-color:rgb(3, 0, 44);
    text-align: center;
    color: rgb(221, 194, 194);
    padding: 34px 89px;
    margin-top: 50px;
}

footer p {
    margin: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 865px;
    width: 100%;
}

.nav-container ul {
    padding-left: 0;
}

.nav-container ul li a {
    font-size: 13px;
}

.nav-container img {
    width: 34px;
    height: 34px;
    object-fit: cover;
    object-position: center;
}
@media (min-width:1024px) {
    nav button {
        display: none;
    }
}

@media (max-width:1023px) {
    nav ul {
        display: none;
    }
    header img {
        height: 50vh;
    }
    section {
        padding: 36px 36px;
    }        
    .primeira article {
        width: 45%;
    }

    .primeira article .mb {
        margin-bottom: 34px;
    }

    .primeira article h2 {
        font-size: 13pt;
        font-weight: bold;
    }
    
    .primeira article p {
        font-size: 10pt;
        line-height: 16.1pt;
    }

    section, .esquerda {
        flex-wrap: wrap;
    }
    .esquerda, .direita 
    .t-esquerda, .t-direita {
        flex-basis: 100%;
    }
    .t-esquerda {
        padding-right: 0;
    }
    .segunda, .direita p {
        text-align: initial;

    }

    header img {
        width: 100%;
    }
    
}


.profile{
    padding-top: 0;
}

.profile img {
    width: 260px;
    height: 260px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -130px;
}

.card {
    display: inline-block;
    padding: 2em;
    background: antiquewhite;
    width: 50%;
    height: 100px;
    margin: 1em 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.card:hover {
    opacity: 0.7;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    display:flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
}

.form label {
    margin: 1em
}

.form textarea {
    width: 315px;
    height: 300px;
}

.font style {
    text-align: initial;
}

:first-of-type {
    font-family: Arial;
    font-size: 25px;
}



.btn-btn {
    width: 330px;
    height: 50px;
    margin-left: 20px;
}

.sociais {
    margin-left: 100px;
    margin-top: 30px;
}